<p>forms works!</p>

<div class="container flex">

    <div class="w-[60vw] border">
        <div class="flex items-center h-16 pl-6 text-4xl text-center text-black bg-green-800 rounded-xl">
            Video List
        </div>
    
        <div class="grid justify-center grid-cols-3 gap-6 m-10">
            <!-- card no 1 -->
             @for(item of videoList ;track $index){
                <div class="w-[200px] h-[250px] border space-y-6 pt-4">
                    <h1>{{item.videoTitle}}</h1>
                    <p>{{item.videoUrl}}</p>
                    <div class="text-center text-blue-600 pace-x-4 ">
                        
                        <button (click)="onEdit(item)" class="p-2 text-white bg-blue-600 border rounded-lg">Edit</button>
                        <button (click)="deleteVideo(item.videoId)" class="p-2 text-white bg-red-600 border rounded-lg">delete</button>
                    </div>
                </div>
             }
    
          
           
    
    
    
        </div>
    </div>
    
    <div class=" border w-[40vw]">
    <div class="flex items-center h-16 pl-6 text-4xl text-center text-black bg-green-800 rounded-xl">
        Video List
    </div>
    <div class="m-4">
        <label for=""> Title </label>
        <input type="text" [(ngModel)]="videoObj.videoTitle" class="form-control">
    </div>
    <div class="m-4">
        <label for=""> URL </label>
        <input type="text" [(ngModel)]="videoObj.videoUrl" class="form-control">
    </div>
    <div class="m-4">
        <label for=""> Thumbnail </label>
        <input type="text" [(ngModel)]="videoObj.videoThumbnail" class="form-control">
    </div>
    <div class="m-4">
        <label for=""> Duration </label>
        <input type="text" [(ngModel)]="videoObj.totalDuration" class="form-control">
    </div>
    <div class="m-4">
        <label for=""> Description </label>
        <textarea name="" [(ngModel)]="videoObj.videoDescription" id="" rows="3" class="form-control"></textarea>
    </div>
    
    <div class="flex justify-evenly">
        <div >
            <button class="p-4 bg-red-600 border rounded-2xl" > Reset</button>
        </div>
        <div>
            @if(videoObj.videoId == 0){
            <button class="p-4 bg-blue-600 border rounded-2xl" (click)="onSaveVideo()"> Save </button>
            } @else {
            <button class="p-4 bg-yellow-600 border rounded-2xl" (click)="onUpdateVideo()"> Update Form </button>          
            }
        </div>
    </div>
  
   
    
    </div>
</div>

