<div class="flex">
  <!-- First div -->
  <div class="m-6 gap-6 border p-6 bg-blue-100 w-[250px]">
    @if(isDivVisible === true){
    <div class="w-[200px] h-[50px] bg-black text-white"> Im Number 1</div>
    }
    @else {
    <p> Jani what is this</p>
    }
    
    <div class="flex gap-4 m-6 ">
      <div>
        <button class="p-2 bg-red-400 border border-black rounded-md " (click)="showHideDiv(true)"> Show </button>
      </div>
  
      <div></div>
      <button class="p-2 bg-blue-700 border border-black rounded-md " (click)="showHideDiv(false)"> Hide </button>
    </div>
  
  </div>
  
  <!-- Second Div -->

  <div class="m-6 border w-[250px] p-6 bg-slate-300 space-y-6">
    <div>
      @if(inputvalue == "hello"){
      <div class="w-[200px] h-[50px] bg-red-800 text-white"> I'm Number 2</div>
      }
      @else{
      <p> input value isn't true.</p>
      }
    </div>
    <input class="p-2 bg-white rounded-md" placeholder="type 'hello' " [(ngModel)]="inputvalue" >
  
  </div>

  <!-- Third Div -->
  <div class="m-6 border w-[250px] p-6 bg-blue-300 space-y-6">
    

    
    <div>
      @if(dayName == "mon"){
      <p>Monday</p>
      }
      @else if (dayName == "tue"){
      <p>Tuesday</p>
      }
      @else if (dayName == "wed"){
      <p>Wednesday</p>
      }
      @else if (dayName == "thu"){
      <p>Thursday</p>
      }
      @else if (dayName == "fri"){
      <p>Friday</p>
      }
      @else if (dayName == "sat"){
      <p>Saturday</p>
      }
      @else if (dayName == "sun"){
      <p>Sunday</p>
      }@else {
      <p> wrong entry</p>
      }
    </div>
    <input class="p-2 bg-white rounded-md" placeholder="type a day e.g 'mon'" [(ngModel)]="dayName" maxlength="3">
  
  </div>
  
</div>




============================

<div *ngIf="isDivVisible" class="m-6">
  <div class="w-[200px] h-[50px] bg-red-800 text-white"> I'm Red </div>
  <div class="w-[300px] h-[50px] bg-pink-200 text-white"> I'm Pink </div>
  <div class="w-[400px] h-[50px] bg-blue-800 text-white"> I'm Blue </div>
</div>

<div *ngIf="isDivVisible; else loginMessage">Welcome back!</div>
<ng-template #loginMessage>
  <div> isDivVisible is false </div>
</ng-template>
============================
<!-- printing cityList with For Loop -->
<div class="row">
  <div class="p-3 col-3">
    <ul> 
        @for(city of cityList; track $index){
          <li>{{city}}</li>
        } 
    </ul>
  </div>
</div>
=====
<div class="row">
  <div class="p-3 col-3">
    @for(city of cityList; track $index){
      <button class="p-4 mx-6 border rounded-lg bg-slate-200">{{city}}</button>
    }
  </div>
</div>
================
<div>
  @for(city of cityList; track $index){
    <input class="m-4 border" [value]="city">
  }
</div>
================
<div class="">
  <table>
    <thead>
      <tr>
        <th>Sr.no </th>
        <th>Name</th>
        <th>Mobile</th>
        <th>City</th>
        <th>Status</th>

      </tr>
    </thead>
    <tbody>
      
        @for(item of studentList; track $index){
          <tr class="gap-4">
            <td>{{$index+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.city}}</td>
            <td [style.background-color]="item.isActive?'red':'green'">
              
                <span *ngIf="item.isActive"> Student is Active</span>
                <span *ngIf="!item.isActive"> Student is Not Active</span> 
             
            </td>
          </tr>

          
        }
        
      
    </tbody>
  </table>
</div>
=============
<!-- studentList is an array created in .ts file -->
<div >
  <p> Drop Down Menu</p>
  <select class="px-6 border">
    @for(item of studentList; track $index){
    <option [value]="item.stuID">{{item.city}} </option>
    }
  </select>

  <select class="px-6 border">
    @for(item of studentList; track $index){
    <option [value]="item.stuID">{{item.name}} </option>
    }
  </select>
</div>


===========









